.row_flipcard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px; /* Margem externa para centralizar na página */
  }
  
  .flip-card {
    width: 200px;
    height: 300px;
    margin: 10px;
    perspective: 1000px; /* Efeito 3D */
  }
  
  .flip-card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg); /* Efeito de rotação ao passar o mouse */
  }
  
  .flip-card-front,
  .flip-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #fdfdfd00;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
  
  .flip-card-back {
    background-color: #6060604f;
    color: white;
    transform: rotateY(180deg); /* Inicialmente, oculto */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
  
  .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .title a {
    text-decoration: none;
    color: white;
  }
  
 